In [1]:
import tensorflow as tf
import keras
#import matplotlib.pyplot as plt
#%matplotlib inline
import numpy as np
import json
import pandas as pd
from statistics import mean
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam #SGD, Adadelta, RMSprop
from keras import layers
from tensorflow.keras import regularizers
#from sklearn import preprocessing

In [2]:
# Open and Read JSON file's data

file = open(r"shallow-frequencies/shallow-frequencies.json", "r", encoding='utf-8')
js = file.read()
data = json.loads(js)
file.close()

In [3]:
# Get all the proofs
proofs = data["triples"]

types = [row["name"] for row in data["types"]]
terms = [row["name"] for row in data["terms"]]

In [4]:
input_list = []
output_list = []

len_types = len(types)
len_terms = len(terms)

for proof in proofs:
    input_def = [0]*len_types
    output_def = [0]*len_terms
    
    typs = set(proof['types'])
    for typ in typs:
        input_def[types.index(typ)] += proof['types'].count(typ)
    input_list.append(input_def)

    trms = set(proof['terms'])
    for trm in trms:
        output_def[terms.index(trm)] += proof['types'].count(trm)
    output_list.append(output_def)

In [5]:
input_list = np.asarray(input_list)
output_list = np.asarray(output_list)

In [6]:
no_test = 300
x_train, x_test, y_train, y_test = train_test_split(input_list, output_list, test_size=no_test/len(proofs))

In [7]:
model = Sequential()

model.add(Dense(200, input_shape = (len_types,), activation = "softplus"))
model.add(Dropout(0.2))

model.add(Dense(len_terms, activation = "softplus"))
model.add(Dropout(0.05))

model.compile(Adam(learning_rate = 0.003), "categorical_crossentropy", metrics = ["KLDivergence"])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               142000

 dropout (Dropout)           (None, 200)               0

 dense_1 (Dense)             (None, 3337)              670737

 dropout_1 (Dropout)         (None, 3337)              0

=================================================================
Total params: 812,737
Trainable params: 812,737
Non-trainable params: 0
_________________________________________________________________

In [8]:
model.fit(x_train, y_train, epochs = 20, validation_data=(x_test, y_test))

Epoch 1/20
204/204 [==============================] - 3s 9ms/step - loss: 5.0764 - kullback_leibler_divergence: 1.6012 - val_loss: 2.8473 - val_kullback_leibler_divergence: 1.3922
Epoch 2/20
204/204 [==============================] - 2s 8ms/step - loss: 3.5814 - kullback_leibler_divergence: 1.8739 - val_loss: 2.2829 - val_kullback_leibler_divergence: 1.4005
Epoch 3/20
204/204 [==============================] - 2s 8ms/step - loss: 2.9000 - kullback_leibler_divergence: 1.7497 - val_loss: 1.9425 - val_kullback_leibler_divergence: 1.2448
Epoch 4/20
204/204 [==============================] - 2s 8ms/step - loss: 2.6321 - kullback_leibler_divergence: 1.4575 - val_loss: 1.8271 - val_kullback_leibler_divergence: 1.0920
Epoch 5/20
204/204 [==============================] - 2s 8ms/step - loss: 2.4577 - kullback_leibler_divergence: 1.2741 - val_loss: 1.6726 - val_kullback_leibler_divergence: 1.0077
Epoch 6/20
204/204 [==============================] - 2s 8ms/step - loss: 2.2491 - kullback_leibler_divergence: 1.0820 - val_loss: 1.5956 - val_kullback_leibler_divergence: 0.8762
Epoch 7/20
204/204 [==============================] - 2s 8ms/step - loss: 2.2760 - kullback_leibler_divergence: 0.9875 - val_loss: 1.5768 - val_kullback_leibler_divergence: 0.7813
Epoch 8/20
204/204 [==============================] - 2s 9ms/step - loss: 2.1782 - kullback_leibler_divergence: 0.8847 - val_loss: 1.5164 - val_kullback_leibler_divergence: 0.7013
Epoch 9/20
204/204 [==============================] - 2s 9ms/step - loss: 2.1842 - kullback_leibler_divergence: 0.8161 - val_loss: 1.5207 - val_kullback_leibler_divergence: 0.6806
Epoch 10/20
204/204 [==============================] - 2s 10ms/step - loss: 2.1485 - kullback_leibler_divergence: 0.8153 - val_loss: 1.4810 - val_kullback_leibler_divergence: 0.6186
Epoch 11/20
204/204 [==============================] - 2s 10ms/step - loss: 2.0942 - kullback_leibler_divergence: 0.6994 - val_loss: 1.4789 - val_kullback_leibler_divergence: 0.6085
Epoch 12/20
204/204 [==============================] - 2s 10ms/step - loss: 1.9524 - kullback_leibler_divergence: 0.6269 - val_loss: 1.4830 - val_kullback_leibler_divergence: 0.5863
Epoch 13/20
204/204 [==============================] - 2s 10ms/step - loss: 2.0178 - kullback_leibler_divergence: 0.6770 - val_loss: 1.4653 - val_kullback_leibler_divergence: 0.5491
Epoch 14/20
204/204 [==============================] - 2s 10ms/step - loss: 2.0638 - kullback_leibler_divergence: 0.6212 - val_loss: 1.4791 - val_kullback_leibler_divergence: 0.5404
Epoch 15/20
204/204 [==============================] - 2s 10ms/step - loss: 2.0302 - kullback_leibler_divergence: 0.5870 - val_loss: 1.4392 - val_kullback_leibler_divergence: 0.4902
Epoch 16/20
204/204 [==============================] - 2s 12ms/step - loss: 1.9684 - kullback_leibler_divergence: 0.6112 - val_loss: 1.4358 - val_kullback_leibler_divergence: 0.4941
Epoch 17/20
204/204 [==============================] - 3s 12ms/step - loss: 1.9888 - kullback_leibler_divergence: 0.5173 - val_loss: 1.4152 - val_kullback_leibler_divergence: 0.4734
Epoch 18/20
204/204 [==============================] - 2s 12ms/step - loss: 2.0102 - kullback_leibler_divergence: 0.5664 - val_loss: 1.4291 - val_kullback_leibler_divergence: 0.4688
Epoch 19/20
204/204 [==============================] - 2s 10ms/step - loss: 1.8842 - kullback_leibler_divergence: 0.5282 - val_loss: 1.4499 - val_kullback_leibler_divergence: 0.4912
Epoch 20/20
204/204 [==============================] - 2s 11ms/step - loss: 1.9536 - kullback_leibler_divergence: 0.5293 - val_loss: 1.4398 - val_kullback_leibler_divergence: 0.4656

In [12]:
def get_score(y_test, y_pred):
    
    df = pd.DataFrame(list(zip(y_test, y_pred)), columns =['y_test', 'y_pred'])
    df = df.sort_values(by="y_pred", ascending=False)
    
    df['y_pred'] = range(len(df))
    sum_val = df['y_test'].sum()
    
    if sum_val:
        return (df['y_test']*df['y_pred']).sum()/sum_val
    else:
        return 'no elem'

In [13]:
def avg_score(x_tests, y_tests):
    
    y_preds = model.predict(x_tests)
    
    list_score = []
    
    for i in range(len(y_preds)):
        score = get_score(y_tests[i], y_preds[i])
        if score != 'no elem':
            list_score.append(score)
    
    print('\n',f"Average score of {len(list_score)} elements (leaving out empity terms):")
    
    avg_per = mean(list_score)
    print(f" Average rank elements is {round(avg_per)} out of {len(data['terms'])} total terms.")
    
    return avg_per

In [14]:
avg_score(x_test, y_test)

10/10 [==============================] - 0s 3ms/step

 Average score of 88 elements (leaving out empity terms):
 Average rank elements is 55 out of 3337 total terms.

55.27315607372425

### Result of Prediction for each element in test set:

In [15]:
y_pred = model.predict(x_test)
cut_off = 10000

for i in range(len(y_test)):
    df = pd.DataFrame(list(zip(terms, y_test[i], y_pred[i])), columns =['terms', 'y_test_count', 'y_pred_index'])
    df = df.sort_values(by="y_pred_index", ascending=False)

    df['y_pred_index'] = range(len(df))
    sum_val = df['y_test_count'].sum()

    df.index = range(len(df))

    if sum_val:
        avg = (df['y_test_count']*df['y_pred_index']).sum()/(sum_val)
    else:
        avg = 0
        
    if avg <= cut_off:
        print('\n -  -  -  \n')
        if str(avg) == "0.0":
            print('Average', avg)
            display(df[:1])
        elif avg > 0:
            print('Average', avg)
            display(df[:df['y_test_count'].iloc[::-1].ne(0).idxmax()+1])
        else:
            print('Average', avg, '(no elements in defn)')

10/10 [==============================] - 0s 2ms/step

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.2

           terms  y_test_count  y_pred_index
0            Int             2             0
1             Eq             1             1
2    OfNat.ofNat             1             2
3  Int.subNatNat             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.5

    terms  y_test_count  y_pred_index
0    True             1             0
1  Exists             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.3333333333333333

                    terms  y_test_count  y_pred_index
0                     Nat             4             0
1  Nat.Linear.Poly.denote             3             1
2         Nat.Linear.Poly             3             2
3                      Eq             1             3
4               HAdd.hAdd             1             4

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 3.0

   terms  y_test_count  y_pred_index
0  LE.le             0             0
1    And             0             1
2    Iff             0             2
3     Eq             1             3

 -  -  -

Average 0.45454545454545453

       terms  y_test_count  y_pred_index
0      USize            16             0
1  HMul.hMul             3             1
2  HAdd.hAdd             2             2
3         Eq             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.8571428571428572

                     terms  y_test_count  y_pred_index
0                      Nat             3             0
1                  Prod.mk             2             1
2                       Eq             0             2
3                 Prod.Lex             1             3
4                 Prod.fst             0             4
5  WellFoundedRelation.rel             0             5
6                HMod.hMod             0             6
7                HAdd.hAdd             0             7
8                   Nat.lt             1             8

 -  -  -

Average 0.8571428571428571

       terms  y_test_count  y_pred_index
0        Nat             4             0
1      LT.lt             1             1
2  instLTNat             1             2
3  HMod.hMod             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  UInt64             1             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat            10             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  UInt8             1             0

 -  -  -

Average 0.0

            terms  y_test_count  y_pred_index
0  Membership.mem             2             0

 -  -  -

Average 1.4545454545454546

         terms  y_test_count  y_pred_index
0          Nat             5             0
1  List.length             2             1
2  OfNat.ofNat             1             2
3           Eq             1             3
4  List.insert             1             4
5    HAdd.hAdd             1             5

 -  -  -

Average 0.0

       terms  y_test_count  y_pred_index
0  ByteArray             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  Bool             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.75

       terms  y_test_count  y_pred_index
0      UInt8             2             0
1   UInt8.mk             1             1
2  UInt8.val             1             2

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

                               terms  y_test_count  y_pred_index
0  Mathlib.Tactic.Lint.LintVerbosity             1             0

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  False             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1009.0

                               terms  y_test_count  y_pred_index
0            WellFoundedRelation.rel             2             0
1                           Prod.Lex             0             1
2                     PSigma.lexNdep             0             2
3                      emptyRelation             0             3
4                                Nat             0             4
...                              ...           ...           ...
3023  Nat.instLawfulBEqNatInstBEqNat             0          3023
3024  List.decidablePairwise.proof_4             0          3024
3025         Nat.Linear.PolyCnstr.eq             0          3025
3026            List.getLast.proof_2             0          3026
3027                      PSigma.Lex             1          3027

[3028 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  UInt8             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  USize             1             0

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  Option             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  UInt64             1             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  UInt8             4             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat            10             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

          terms  y_test_count  y_pred_index
0  MonadFinally             1             0

 -  -  -

Average 0.6

       terms  y_test_count  y_pred_index
0        Nat             7             0
1  HMul.hMul             1             1
2         Eq             1             2
3  HDiv.hDiv             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   And             2             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0.6363636363636364

            terms  y_test_count  y_pred_index
0             Nat             7             0
1       HMul.hMul             2             1
2         Dvd.dvd             1             2
3  Nat.instDvdNat             1             3

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Fin             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  UInt64             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  List             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.2

       terms  y_test_count  y_pred_index
0  HMul.hMul             4             0
1         Eq             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  UInt8             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.0

  terms  y_test_count  y_pred_index
0   Nat             1             0
1   Not             1             1
2   And             1             2

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  List             1             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0    Eq             2             0

 -  -  -

Average 10.571428571428571

            terms  y_test_count  y_pred_index
0             Int             2             0
1             Nat             1             1
2          Exists             1             2
3              Eq             1             3
4        Nat.cast             1             4
..            ...           ...           ...
60  zero_lt_of_lt             0            60
61      UnionFind             0            61
62       Nat.pred             0            62
63     Array.size             0            63
64     Int.NonNeg             1            64

[65 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  False             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Int             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.3333333333333333

      terms  y_test_count  y_pred_index
0      Unit             1             0
1     Array             1             1
2  ToString             0             2
3        Id             1             3

 -  -  -

Average 1004.0

                                  terms  y_test_count  y_pred_index
0                             Inhabited             0             0
1     Tactic.NormCast.NormCastExtension             0             1
2                                StdGen             0             2
3                             NonScalar             0             3
4                          NonemptyType             0             4
...                                 ...           ...           ...
1000                      Subarray.allM             0          1000
1001               decidableBEx.proof_4             0          1001
1002           Nat.Linear.PolyCnstr.mul             0          1002
1003               Nat.ble_self_eq_true             0          1003
1004                         PNonScalar             1          1004

[1005 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1647.5

                      terms  y_test_count  y_pred_index
0                        Eq             0             0
1                   Eq.refl             0             1
2             List.lengthTR             0             2
3                 HAdd.hAdd             0             3
4               Functor.map             0             4
...                     ...           ...           ...
3252  List.mem_of_ne_of_mem             0          3252
3253          ByteSlice.off             0          3253
3254                List.le             0          3254
3255               List.zip             0          3255
3256       List.replicateTR             1          3256

[3257 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Int             7             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.5

            terms  y_test_count  y_pred_index
0             And             1             0
1       Decidable             1             1
2  Membership.mem             1             2
3          Exists             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  Bool             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  UInt16             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  Option             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.5

            terms  y_test_count  y_pred_index
0             Nat             2             0
1  Nat.instDvdNat             2             1
2         Dvd.dvd             2             2
3         Nat.gcd             2             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Int             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.0

         terms  y_test_count  y_pred_index
0  Option.some             1             0
1          Iff             0             1
2  Option.none             1             2

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.2

           terms  y_test_count  y_pred_index
0  SizeOf.sizeOf             2             0
1            Nat             1             1
2          LT.lt             1             2
3      instLTNat             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.5

       terms  y_test_count  y_pred_index
0        Nat            13             0
1  HAdd.hAdd             2             1
2  HSub.hSub             2             2
3         Eq             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  List             2             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0    Eq             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0  True             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 675.0

                              terms  y_test_count  y_pred_index
0                         Decidable             1             0
1                             LT.lt             1             1
2                            UInt16             1             2
3                       instLTUInt8             0             3
4                      instLEUInt16             0             4
...                             ...           ...           ...
2693              Nat.mul_div_right             0          2693
2694                        HSub.mk             0          2694
2695      System.FilePath.normalize             0          2695
2696  UInt64.instRingUInt64.proof_5             0          2696
2697                   instLTUInt16             1          2697

[2698 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.4

       terms  y_test_count  y_pred_index
0        Int             7             0
1  HAdd.hAdd             2             1
2         Eq             1             2

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  Float             1             0

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.6363636363636364

       terms  y_test_count  y_pred_index
0        Nat            16             0
1  HSub.hSub             2             1
2  HMul.hMul             1             2
3  HDiv.hDiv             2             3
4         Eq             1             4

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

     terms  y_test_count  y_pred_index
0  Nat.gcd             4             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  PUnit             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 492.3333333333333

                                    terms  y_test_count  y_pred_index
0                                      Eq             2             0
1                                    dite             1             1
2                                  Exists             1             2
3                               List.cons             0             3
4                                     And             0             4
...                                   ...           ...           ...
2192                            Nat.decEq             0          2192
2193                        Nat.pred_succ             0          2193
2194  Option.decidable_forall_mem.proof_3             0          2194
2195                       iff_true_intro             0          2195
2196                      Function.extend             1          2196

[2197 rows x 3 columns]

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.1111111111111112

       terms  y_test_count  y_pred_index
0        Nat             3             0
1  HPow.hPow             3             1
2  HMul.hMul             2             2
3         Eq             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

  terms  y_test_count  y_pred_index
0   Nat             1             0

 -  -  -

Average 0.5

       terms  y_test_count  y_pred_index
0     UInt16            16             0
1  HAdd.hAdd             2             1
2  HMul.hMul             3             2
3         Eq             1             3

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  Option             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

                  terms  y_test_count  y_pred_index
0  Nat.Linear.PolyCnstr             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.9090909090909091

       terms  y_test_count  y_pred_index
0        Nat             7             0
1  instLENat             1             1
2      LE.le             1             2
3  HDiv.hDiv             1             3
4  HMul.hMul             1             4

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.2

       terms  y_test_count  y_pred_index
0        Nat             8             0
1  instLENat             2             1
2      LE.le             2             2
3  HAdd.hAdd             1             3
4        Iff             1             4
5  HSub.hSub             1             5

 -  -  -

Average 0.0

             terms  y_test_count  y_pred_index
0  System.FilePath             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

   terms  y_test_count  y_pred_index
0  USize             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

    terms  y_test_count  y_pred_index
0  Option             1             0