In [1]:
import tensorflow as tf
import keras
#import matplotlib.pyplot as plt
#%matplotlib inline
import numpy as np
import json
import pandas as pd
from statistics import mean
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam #SGD, Adadelta, RMSprop
#from sklearn import preprocessing

In [10]:
config = tf.compat.v1.ConfigProto( device_count = {'GPU': 1 , 'CPU': 4} ) 
sess = tf.compat.v1.Session(config=config) 
keras.backend.set_session(sess)

In [2]:
# Open and Read JSON file's data

file = open(r"shallow-frequencies/shallow-frequencies.json", "r", encoding='utf-8')
js = file.read()
data = json.loads(js)
file.close()

In [3]:
# Get all the proofs
proofs = data["triples"]

types = [row["name"] for row in data["types"]]
terms = [row["name"] for row in data["terms"]]

In [4]:
input_list = []
output_list = []

for proof in proofs:
    input_def = [0]*len(types)
    output_def = [0]*len(terms)
    
    for typ in proof['types']:
        ind = types.index(typ)
        input_def[ind] +=1
        
    input_list.append(input_def)
    
    for trm in proof['terms']:
        ind = terms.index(trm)
        output_def[ind] +=1
        
    output_list.append(output_def)

In [5]:
input_list = np.asarray(input_list)
output_list = np.asarray(output_list)

In [6]:
#no_test = 1000 no_test/len(proofs)
x_train, x_test, y_train, y_test = train_test_split(input_list, output_list, test_size=0.2)

In [10]:
import os
os.environ["CUDA_VISIBLE_DEVICES"]="-1"

In [10]:
model = Sequential()
model.add(Dense(200, input_shape = (709,), activation = "softplus"))
model.add(Dropout(0.2))
model.add(Dense(3337, activation = "softplus"))
model.compile(Adam(learning_rate = 0.01), "poisson", metrics = ["KLDivergence"])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 200)               142000

 dropout_1 (Dropout)         (None, 200)               0

 dense_3 (Dense)             (None, 3337)              670737

=================================================================
Total params: 812,737
Trainable params: 812,737
Non-trainable params: 0
_________________________________________________________________

In [27]:
model = Sequential()
model.add(Dense(200, input_shape = (709,), activation = "softplus"))
model.add(Dropout(0.2))
model.add(Dense(3337, activation = "softplus"))
model.compile(Adam(learning_rate = 0.01), "categorical_crossentropy", metrics = ["accuracy"])
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 200)               142000

 dropout_4 (Dropout)         (None, 200)               0

 dense_9 (Dense)             (None, 3337)              670737

=================================================================
Total params: 812,737
Trainable params: 812,737
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x_train, y_train, epochs = 30)

In [ ]:
model.fit(x_train, y_train, epochs = 20, validation_data=(x_test, y_test))

In [44]:
#model.save('Model')

In [45]:
#model = keras.models.load_model('Model')

In [12]:
model.evaluate(x_test, y_test)

43/43 [==============================] - 0s 7ms/step - loss: 0.0067 - kullback_leibler_divergence: 15.1435

[0.006681405007839203, 15.143548011779785]

In [13]:
def get_score(y_test, y_pred):
    
    df = pd.DataFrame(list(zip(y_test, y_pred)), columns =['y_test', 'y_pred'])
    df = df.sort_values(by="y_pred", ascending=False)
    
    df['y_pred'] = range(len(df))
    sum_val = df['y_test'].sum()
    
    if sum_val:
        return (df['y_test']*df['y_pred']).sum()/sum_val
    else:
        return 0

In [14]:
def avg_score(x_tests, y_tests):
    
    y_preds = model.predict(x_tests)
    print('\n',f"Calculating average score for {len(y_preds)} elements.")
    
    list_score = []
    
    for i in range(len(y_preds)):
        score = get_score(y_tests[i], y_preds[i])
        list_score.append(score)
    
    avg_per = mean(list_score)
    print(f" Average rank elements is {round(avg_per)} out of {len(data['terms'])} total terms.")
    
    return avg_per

In [15]:
avg_score(x_test, y_test)

43/43 [==============================] - 0s 2ms/step

 Calculating average score for 1365 elements.
 Average rank elements is 294 out of 3337 total terms.

294.17679624219056

In [15]:
y_pred = model.predict(x_test)
cut_off = 10

for i in range(len(y_test)):
    df = pd.DataFrame(list(zip(terms, y_test[i], y_pred[i])), columns =['terms', 'y_test_count', 'y_pred_index'])
    df = df.sort_values(by="y_pred_index", ascending=False)

    df['y_pred_index'] = range(len(df))
    sum_val = df['y_test_count'].sum()

    df.index = range(len(df))

    if sum_val:
        avg = (df['y_test_count']*df['y_pred_index']).sum()/(sum_val)
    else:
        avg = 0
        
    if avg <= cut_off:
        print('\n -  -  -  \n')
        if str(avg) == "0.0":
            print('Average', avg)
            display(df[:1])
        elif avg > 0:
            print('Average', avg)
            display(df[:df['y_test_count'].iloc[::-1].ne(0).idxmax()+1])
        else:
            print('Average', avg, '(no elements in defn)')

7/7 [==============================] - 0s 3ms/step

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             3             0
1  OfNat.ofNat             3             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 4.0

     terms  y_test_count  y_pred_index
0      Nat             0             0
1       Eq             0             1
2  Eq.refl             0             2
3  Eq.symm             0             3
4      rfl             1             4

 -  -  -

Average 6.428571428571429

          terms  y_test_count  y_pred_index
0           Nat             0             0
1       Eq.refl             1             1
2      Eq.trans             0             2
3      congrArg             0             3
4            Eq             0             4
5           rfl             2             5
6          True             0             6
7       Eq.symm             2             7
8   OfNat.ofNat             0             8
9         False             0             9
10         Bool             2            10

 -  -  -

Average 6.0

             terms  y_test_count  y_pred_index
0              Nat             0             0
1      OfNat.ofNat             0             1
2        Bind.bind             0             2
3        List.cons             0             3
4  HAppend.hAppend             0             4
5        Pure.pure             0             5
6               Eq             1             6

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 3.3333333333333335

              terms  y_test_count  y_pred_index
0        ExceptT.mk             1             0
1         Pure.pure             0             1
2         Except.ok             1             2
3            Except             0             3
4      Except.error             0             4
5         Bind.bind             0             5
6  ExceptT.bindCont             0             6
7   Except.mapError             0             7
8       Functor.map             1             8

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 4.333333333333333

                                      terms  y_test_count  y_pred_index
0                               OfNat.ofNat             0             0
1                              Inhabited.mk             1             1
2                                       Int             0             2
3    Mathlib.Tactic.Lint.LintVerbosity.high             0             3
4  Mathlib.Tactic.Lint.LintVerbosity.medium             0             4
5         Mathlib.Tactic.Lint.LintVerbosity             1             5
6                                       Nat             0             6
7     Mathlib.Tactic.Lint.LintVerbosity.low             1             7

 -  -  -

Average 3.0

          terms  y_test_count  y_pred_index
0     PProd.fst             0             0
1  Inhabited.mk             1             1
2     List.cons             0             2
3          List             0             3
4         PUnit             0             4
5      List.nil             1             5

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 5.666666666666667

              terms  y_test_count  y_pred_index
0               Nat             1             0
1       OfNat.ofNat             1             1
2         Bind.bind             0             2
3         List.cons             0             3
4   HAppend.hAppend             0             4
5         Pure.pure             0             5
6                Eq             0             6
7             PUnit             0             7
8              Unit             0             8
9              Bool             0             9
10        Bool.true             0            10
11              ite             0            11
12         List.nil             0            12
13        Unit.unit             0            13
14     List.toArray             0            14
15    Function.comp             0            15
16       Bool.false             1            16

 -  -  -

Average 7.333333333333333

           terms  y_test_count  y_pred_index
0          False             0             0
1         Or.inr             1             1
2             Or             0             2
3         Or.inl             1             3
4            Not             0             4
5      Iff.intro             0             5
6        Or.swap             0             6
7             em             0             7
8             mt             0             8
9      And.intro             0             9
10        absurd             0            10
11  Classical.em             0            11
12        Eq.mpr             0            12
13       Or.elim             0            13
14    True.intro             0            14
15          True             0            15
16    False.elim             0            16
17       propext             0            17
18          dite             1            18

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 6.0

                 terms  y_test_count  y_pred_index
0                  Nat             3             0
1            HAdd.hAdd             3             1
2            HPow.hPow             3             2
3            HMul.hMul             3             3
4             congrArg             2             4
5   Tactic.Ring.horner             0             5
6             Eq.trans             1             6
7             congrFun             0             7
8            add_assoc             1             8
9               Eq.mpr             0             9
10                  Eq             1            10
11       add_left_comm             0            11
12               congr             1            12
13            add_zero             0            13
14             Eq.refl             0            14
15            add_comm             0            15
16             Eq.symm             1            16
17             eq_self             1            17
18          of_eq_true             1            18
19                True             1            19

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             1             0
1  OfNat.ofNat             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 5.0

      terms  y_test_count  y_pred_index
0       Nat             0             0
1   Eq.refl             0             1
2  Eq.trans             0             2
3  congrArg             0             3
4        Eq             0             4
5       rfl             1             5

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 5.388888888888889

                          terms  y_test_count  y_pred_index
0                           Int             6             0
1                           Nat             3             1
2                  Int.negOfNat             2             2
3                     HMul.hMul             2             3
4                      congrArg             0             4
5        Int.ofNat_mul_negOfNat             0             5
6                      Nat.succ             0             6
7                      Eq.trans             0             7
8                         congr             0             8
9                  Int.mul_comm             0             9
10      Int.negSucc_ofNat_ofNat             0            10
11                 Nat.mul_comm             0            11
12                          rfl             2            12
13                           Eq             1            13
14                      eq_self             0            14
15  Int.ofNat_mul_negSucc_ofNat             0            15
16                    Int.ofNat             1            16
17                     Nat.zero             0            17
18                      Eq.refl             0            18
19                       Eq.mpr             0            19
20                     congrFun             0            20
21          Int.ofNat_mul_ofNat             0            21
22                         True             0            22
23                  Nat.zero_eq             0            23
24                   of_eq_true             0            24
25                 Nat.sub_zero             0            25
26                 Nat.zero_add             0            26
27                 Nat.succ_add             0            27
28                  Int.one_mul             0            28
29                      Nat.gcd             0            29
30       Int.neg_eq_neg_one_mul             0            30
31                    Unit.unit             1            31

 -  -  -

Average 2.6666666666666665

         terms  y_test_count  y_pred_index
0   OptionT.mk             1             0
1    Bind.bind             0             1
2       Option             0             2
3    Pure.pure             1             3
4  Option.some             0             4
5  Option.none             1             5

 -  -  -

Average 9.0

         terms  y_test_count  y_pred_index
0          Nat             0             0
1      Eq.refl             0             1
2     Eq.trans             0             2
3     congrArg             0             3
4           Eq             0             4
5          rfl             0             5
6         True             0             6
7      Eq.symm             0             7
8  OfNat.ofNat             0             8
9        False             1             9

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             1             0
1  OfNat.ofNat             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 4.777777777777778

            terms  y_test_count  y_pred_index
0             Nat             5             0
1         Eq.refl             1             1
2        Eq.trans             0             2
3        congrArg             0             3
4              Eq             0             4
5             rfl             0             5
6            True             0             6
7         Eq.symm             0             7
8     OfNat.ofNat             1             8
9           False             0             9
10           Bool             0            10
11            Int             0            11
12      HAdd.hAdd             1            12
13     of_eq_true             0            13
14        eq_self             0            14
15       congrFun             0            15
16        propext             0            16
17      Bool.true             0            17
18         Eq.mpr             0            18
19          congr             0            19
20       HEq.refl             0            20
21      And.intro             0            21
22  SizeOf.sizeOf             1            22

 -  -  -

Average 0.5

                        terms  y_test_count  y_pred_index
0  UInt8.instInhabitedFinSize             1             0
1                instNonempty             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             3             0
1  OfNat.ofNat             3             1

 -  -  -

Average 4.777777777777778

            terms  y_test_count  y_pred_index
0             Nat             5             0
1         Eq.refl             1             1
2        Eq.trans             0             2
3        congrArg             0             3
4              Eq             0             4
5             rfl             0             5
6            True             0             6
7         Eq.symm             0             7
8     OfNat.ofNat             1             8
9           False             0             9
10           Bool             0            10
11            Int             0            11
12      HAdd.hAdd             1            12
13     of_eq_true             0            13
14        eq_self             0            14
15       congrFun             0            15
16        propext             0            16
17      Bool.true             0            17
18         Eq.mpr             0            18
19          congr             0            19
20       HEq.refl             0            20
21      And.intro             0            21
22  SizeOf.sizeOf             1            22

 -  -  -

Average 8.0

          terms  y_test_count  y_pred_index
0           Nat             0             0
1         LE.le             0             1
2   OfNat.ofNat             0             2
3       Eq.symm             0             3
4     instLENat             0             4
5       Eq.refl             0             5
6     PProd.fst             0             6
7     HAdd.hAdd             0             7
8  Nat.le_trans             1             8

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             1             0
1  OfNat.ofNat             1             1

 -  -  -

Average 10.0

              terms  y_test_count  y_pred_index
0               Nat             0             0
1       OfNat.ofNat             0             1
2         Bind.bind             1             2
3         List.cons             0             3
4   HAppend.hAppend             0             4
5         Pure.pure             1             5
6                Eq             0             6
7             PUnit             1             7
8              Unit             0             8
9              Bool             0             9
10        Bool.true             0            10
11              ite             0            11
12         List.nil             0            12
13        Unit.unit             0            13
14     List.toArray             0            14
15    Function.comp             0            15
16       Bool.false             0            16
17               Id             0            17
18        PProd.fst             2            18

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 3.6666666666666665

               terms  y_test_count  y_pred_index
0              PUnit             1             0
1          PProd.fst             0             1
2  EStateM.Result.ok             1             2
3          Unit.unit             0             3
4                 Eq             0             4
5               Bool             0             5
6          Bool.true             0             6
7                rfl             0             7
8     EStateM.Result             0             8
9         PUnit.unit             1             9

 -  -  -

Average 1.0

             terms  y_test_count  y_pred_index
0  inferInstanceAs             0             0
1       STWorld.mk             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 8.0

                           terms  y_test_count  y_pred_index
0                System.FilePath             0             0
1                           Bool             0             1
2       System.FilePath.toString             0             2
3                      Bool.true             0             3
4                HAppend.hAppend             0             4
5                             Eq             0             5
6                            ite             0             6
7             System.FilePath.mk             1             7
8                    OfNat.ofNat             0             8
9  System.FilePath.pathSeparator             1             9

 -  -  -

Average 5.117647058823529

                         terms  y_test_count  y_pred_index
0                          Int             8             0
1                      Neg.neg             2             1
2                           Eq             1             2
3               Int.instNegInt             2             3
4                          rfl             1             4
5                       Eq.mpr             0             5
6                  OfNat.ofNat             1             6
7                      Eq.refl             0             7
8                    HAdd.hAdd             0             8
9                 Int.zero_add             0             9
10            Int.add_left_neg             0            10
11                Int.add_zero             0            11
12                     Eq.symm             0            12
13                       congr             0            13
14                   HMul.hMul             1            14
15               Int.add_assoc             0            15
16                     eq_self             0            16
17           Int.add_right_neg             0            17
18                    congrArg             0            18
19   Int.neg_eq_of_add_eq_zero             0            19
20                    Eq.trans             0            20
21                 Int.negSucc             0            21
22    Int.neg_nonneg_of_nonpos             0            22
23                   HSub.hSub             0            23
24                  of_eq_true             0            24
25           Int.distrib_right             0            25
26                        True             0            26
27                    congrFun             0            27
28                         Nat             0            28
29                    Nat.cast             0            29
30            Int.distrib_left             0            30
31                     neg_neg             0            31
32                    Nat.succ             0            32
33                 Int.neg_neg             0            33
34          Int.sub_eq_add_neg             0            34
35                Exists.intro             0            35
36                  Int.natAbs             0            36
37        Int.eq_neg_of_eq_neg             0            37
38                      Or.inl             0            38
39  Int.eq_neg_succ_of_lt_zero             0            39
40                 Int.neg_add             0            40
41  Int.sign_eq_neg_one_of_neg             0            41
42  Int.neg_of_sign_eq_neg_one             0            42
43     SubNegMonoid.gsmul_neg'             0            43
44     MonoidWithZero.zero_mul             0            44
45                   Int.ofNat             0            45
46               Int.natAbs_eq             0            46
47                 List.length             0            47
48         Int.ofNat_mul_ofNat             0            48
49                     add_mul             0            49
50                   Iff.intro             0            50
51                Int.negOfNat             0            51
52                    HEq.refl             0            52
53                   Unit.unit             1            53

 -  -  -

Average 8.0

          terms  y_test_count  y_pred_index
0           Nat             0             0
1       Eq.refl             0             1
2      Eq.trans             0             2
3      congrArg             0             3
4            Eq             0             4
5           rfl             1             5
6          True             0             6
7       Eq.symm             0             7
8   OfNat.ofNat             0             8
9         False             0             9
10         Bool             0            10
11          Int             1            11

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             3             0
1  OfNat.ofNat             3             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 1.8

,terms,y_test_count,y_pred_index
0,StateCpsT.instLawfulMonadStateCpsTInstMonadSta...,0,0
1,LawfulMonad.mk,1,1
2,rfl,4,2

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 4.777777777777778

            terms  y_test_count  y_pred_index
0             Nat             5             0
1         Eq.refl             1             1
2        Eq.trans             0             2
3        congrArg             0             3
4              Eq             0             4
5             rfl             0             5
6            True             0             6
7         Eq.symm             0             7
8     OfNat.ofNat             1             8
9           False             0             9
10           Bool             0            10
11            Int             0            11
12      HAdd.hAdd             1            12
13     of_eq_true             0            13
14        eq_self             0            14
15       congrFun             0            15
16        propext             0            16
17      Bool.true             0            17
18         Eq.mpr             0            18
19          congr             0            19
20       HEq.refl             0            20
21      And.intro             0            21
22  SizeOf.sizeOf             1            22

 -  -  -

Average 7.631578947368421

                terms  y_test_count  y_pred_index
0                 Nat             7             0
1         OfNat.ofNat             2             1
2           PProd.fst             4             2
3               PUnit             2             3
4           HAdd.hAdd             1             4
..                ...           ...           ...
97       Nat.lt_trans             0            97
98   Nat.lt_succ_self             0            98
99   Decidable.decide             0            99
100                or             0           100
101    Membership.mem             1           101

[102 rows x 3 columns]

 -  -  -

Average 4.777777777777778

            terms  y_test_count  y_pred_index
0             Nat             5             0
1         Eq.refl             1             1
2        Eq.trans             0             2
3        congrArg             0             3
4              Eq             0             4
5             rfl             0             5
6            True             0             6
7         Eq.symm             0             7
8     OfNat.ofNat             1             8
9           False             0             9
10           Bool             0            10
11            Int             0            11
12      HAdd.hAdd             1            12
13     of_eq_true             0            13
14        eq_self             0            14
15       congrFun             0            15
16        propext             0            16
17      Bool.true             0            17
18         Eq.mpr             0            18
19          congr             0            19
20       HEq.refl             0            20
21      And.intro             0            21
22  SizeOf.sizeOf             1            22

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 5.0

      terms  y_test_count  y_pred_index
0       Nat             0             0
1   Eq.refl             0             1
2  Eq.trans             0             2
3  congrArg             0             3
4        Eq             0             4
5       rfl             1             5

 -  -  -

Average 5.0

      terms  y_test_count  y_pred_index
0       Nat             0             0
1   Eq.refl             0             1
2  Eq.trans             0             2
3  congrArg             0             3
4        Eq             0             4
5       rfl             1             5

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 3.6

              terms  y_test_count  y_pred_index
0               Nat             2             0
1       OfNat.ofNat             2             1
2         Bind.bind             0             2
3         List.cons             0             3
4   HAppend.hAppend             0             4
5         Pure.pure             0             5
6                Eq             0             6
7             PUnit             0             7
8              Unit             0             8
9              Bool             0             9
10        Bool.true             0            10
11              ite             0            11
12         List.nil             0            12
13        Unit.unit             0            13
14     List.toArray             0            14
15    Function.comp             0            15
16       Bool.false             1            16

 -  -  -

Average 2.25

         terms  y_test_count  y_pred_index
0          Nat             2             0
1      Eq.refl             1             1
2     Eq.trans             0             2
3     congrArg             0             3
4           Eq             0             4
5          rfl             0             5
6         True             0             6
7      Eq.symm             0             7
8  OfNat.ofNat             1             8

 -  -  -

Average 2.5

      terms  y_test_count  y_pred_index
0       Nat             1             0
1   Eq.refl             0             1
2  Eq.trans             0             2
3  congrArg             0             3
4        Eq             0             4
5       rfl             1             5

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             2             0
1  OfNat.ofNat             2             1

 -  -  -

Average 1.0

              terms  y_test_count  y_pred_index
0  MonadReader.read             0             0
1  MonadReaderOf.mk             1             1

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 7.25

          terms  y_test_count  y_pred_index
0       Eq.refl             0             0
1            Eq             1             1
2       Eq.symm             0             2
3         False             0             3
4      eq_false             0             4
5      Eq.trans             0             5
6          dite             1             6
7          True             0             7
8       eq_true             0             8
9   Eq.mpr_prop             0             9
10       absurd             1            10
11   dite_congr             0            11
12          rfl             1            12

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.0

             terms  y_test_count  y_pred_index
0  MonadStateOf.mk             1             0

 -  -  -

Average 0 (no elements in defn)

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             1             0
1  OfNat.ofNat             1             1

 -  -  -

Average 0.5

         terms  y_test_count  y_pred_index
0          Nat             3             0
1  OfNat.ofNat             3             1

 -  -  -

Average 5.827586206896552

                          terms  y_test_count  y_pred_index
0                           Int            14             0
1                     Int.ofNat             0             1
2                     HAdd.hAdd             1             2
3                       Neg.neg             1             3
4                           Nat             0             4
5                            Eq             2             5
6                Int.instNegInt             1             6
7                   OfNat.ofNat             2             7
8                           rfl             1             8
9             Int.add_left_comm             0             9
10                        congr             0            10
11                      Eq.refl             2            11
12                       Eq.mpr             2            12
13                    HSub.hSub             1            13
14                 Int.zero_add             0            14
15                      Eq.symm             0            15
16                  Int.neg_add             0            16
17          Int.ofNat_mul_ofNat             0            17
18                     congrArg             0            18
19                    HMul.hMul             0            19
20                  Int.negSucc             0            20
21                 Int.sub_self             0            21
22                     Eq.trans             0            22
23  Int.ofNat_mul_negSucc_ofNat             0            23
24                Int.add_assoc             0            24
25      Int.negSucc_ofNat_ofNat             0            25
26           Int.sub_eq_add_neg             1            26
27                     congrFun             0            27
28                     Nat.succ             0            28
29                      eq_self             0            29
30                 Int.negOfNat             0            30
31        Int.sub_eq_zero_of_eq             0            31
32        Int.eq_of_sub_eq_zero             0            32
33                   of_eq_true             0            33
34                 Int.add_zero             0            34
35     Int.neg_add_cancel_right             0            35
36            Int.distrib_right             0            36
37                Int.ofNat_sub             0            37
38                     Nat.cast             0            38
39                         True             0            39
40                  Trans.trans             0            40
41            Int.add_right_neg             1            41

 -  -  -

Average 7.5

                      terms  y_test_count  y_pred_index
0                UInt16.val             2             0
1                    UInt16             0             1
2                 UInt16.mk             1             2
3               OfNat.ofNat             0             3
4                       Nat             0             4
5               UInt16.modn             0             5
6               UInt16.size             0             6
7              Nat.toUInt16             0             7
8                    Fin.mk             0             8
9                 HMod.hMod             0             9
10                Fin.ofNat             0            10
11                     repr             0            11
12  HShiftRight.hShiftRight             0            12
13             UInt16.toNat             0            13
14                HAdd.hAdd             0            14
15                HDiv.hDiv             0            15
16             UInt32.toNat             0            16
17                HMul.hMul             0            17
18              UInt8.toNat             0            18
19             UInt16.ofNat             0            19
20                  Fin.xor             0            20
21                  Fin.lor             0            21
22                     True             0            22
23                       Eq             0            23
24    HShiftLeft.hShiftLeft             0            24
25              instReprNat             0            25
26                      Int             0            26
27                  Neg.neg             0            27
28                HSub.hSub             1            28

 -  -  -

Average 0 (no elements in defn)